@model OrderModel
@{
    var title = "Создать заказ";
    if(Model == null || Model.Id == 0)
    {
        title = "Создать заказ";
    }
}

<h1 class="margin-bottom-40">@title</h1>

<div class="row">
    <div class="col-sm-6">
        <form method="post" asp-action="Create">
            <input type="hidden" asp-for="Id" />

            <div class="form-group row">
                <label asp-for="Price" class="col-sm-2 col-form-label">Сумма заказа</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" asp-for="Price" />
                    <span asp-validation-for="Price"></span>
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="shippingAddress" class="col-sm-2 col-form-label">Адрес отправки</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" asp-for="shippingAddress" />
                    <span asp-validation-for="shippingAddress"></span>
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="destinationAddress" class="col-sm-2 col-form-label">Адрес назначения</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" asp-for="destinationAddress" />
                    <span asp-validation-for="destinationAddress"></span>
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="numberPassengers" class="col-sm-2 col-form-label">Количество пасажиров</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" asp-for="numberPassengers" />
                    <span asp-validation-for="numberPassengers"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-2">&nbsp;</div>
                <div class="col-sm-10">
                    <button type="submit" class="btn btn-primary">Save</button>
                    <a asp-controller="Orders" asp-action="Index" class="btn btn-secondary">Back</a>
                </div>
            </div>
        </form>
    </div>
</div>